<!DOCTYPE html>
<html lang="en">


<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    {% block navbar %}
    <div id='navbar'></div>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                {{user.username}}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </div>
    {% endblock %}

    {% block body %}
    {% endblock %}
</body>

</html>